@font-face {
    font-family: 'NanumGothic';
    src: url('./NanumGothic.woff2') format('woff2'),
        url('./NanumGothic.woff2') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NanumGothicExtraBold';
    src: url('./NanumGothicBold.woff2') format('woff2'),
        url('./NanumGothicBold.woff2') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NanumGothic';
    src: url('./NanumGothicExtraBold.woff') format('woff2'),
        url('./NanumGothicExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reenie Beanie';
    src: url('./ReenieBeanie.woff') format('woff2'),
        url('./ReenieBeanie.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'S-Core Dream 5';
    src: url('./S-CoreDream-5Medium.woff') format('woff2'),
        url('./S-CoreDream-5Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'S-Core Dream 3';
    src: url('./S-CoreDream-3Light.woff') format('woff2'),
        url('./S-CoreDream-3Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'S-Core Dream 6';
    src: url('./S-CoreDream-6Bold.woff') format('woff2'),
        url('./S-CoreDream-6Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'S-Core Dream 4';
    src: url('./S-CoreDream-4Regular.woff') format('woff2'),
        url('./S-CoreDream-4Regular.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

